/* Navigation-section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 5px;
}

/* Home-section */
#home {
    height: 320px;
    width: 200px;
    padding: 1px 10px;
    margin: 25px auto; /* changes1 */
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 10px;
    color: black;
    text-align: center;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Services-section */
#services{
    margin: 25px; /* changes2 */
    flex-direction: column;
}
#services .box{
    padding: 5px;
    margin: 0px 0px;
    margin-bottom: 10px;
}

/* Client-section */
#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#clients img{
    width: 70px;
    padding: 6px;
    height: 70px;
}

/* Contact-section */
#contact-box form{
    width: 80%;
}
#contact {
    position: relative;
    border: 2px solid brown;
    background-color: white;
    height: 600px;
    width: 90%;
    margin: 20px auto;
    padding: 0px;
    border-radius: 28px;
}
/* footer */

/* Utility classes  */
.h-primary0 {
    /* padding: 10px; */
    font-size: 23px;
}
.h-primary1{
    font-size: 2.2rem;
    padding: 25px 10px 10px 10px; /* changes1 */
}
.h-primary {
    /* padding: 10px; */
    font-size: 2.2rem;
}
.h-secondary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    padding: 0px;
}
.btn{
    font-size: 15px;
    padding: 4px 8px;
    margin: 11px;
}
